@-webkit-keyframes duck-fly-1 {
  0% {
    left: -55px;
    top: 52vh;
  }
  50% {
    left: 50%;
    top: 41vh;
  }
  100% {
    left: 105%;
    top: 66vh;
  }
}

@keyframes duck-fly-1 {
  0% {
    left: -55px;
    top: 52vh;
  }
  50% {
    left: 50%;
    top: 41vh;
  }
  100% {
    left: 105%;
    top: 66vh;
  }
}

@-webkit-keyframes duck-fly-2 {
  0% {
    left: -55px;
    top: 31vh;
  }
  50% {
    left: 50%;
    top: 60vh;
  }
  100% {
    left: 105%;
    top: 36vh;
  }
}

@keyframes duck-fly-2 {
  0% {
    left: -55px;
    top: 31vh;
  }
  50% {
    left: 50%;
    top: 60vh;
  }
  100% {
    left: 105%;
    top: 36vh;
  }
}

@-webkit-keyframes duck-fly-3 {
  0% {
    left: -55px;
    top: 27vh;
  }
  50% {
    left: 50%;
    top: 72vh;
  }
  100% {
    left: 105%;
    top: 57vh;
  }
}

@keyframes duck-fly-3 {
  0% {
    left: -55px;
    top: 27vh;
  }
  50% {
    left: 50%;
    top: 72vh;
  }
  100% {
    left: 105%;
    top: 57vh;
  }
}

@-webkit-keyframes duck-fly-4 {
  0% {
    left: -55px;
    top: 16vh;
  }
  50% {
    left: 50%;
    top: 16vh;
  }
  100% {
    left: 105%;
    top: 62vh;
  }
}

@keyframes duck-fly-4 {
  0% {
    left: -55px;
    top: 16vh;
  }
  50% {
    left: 50%;
    top: 16vh;
  }
  100% {
    left: 105%;
    top: 62vh;
  }
}

@-webkit-keyframes duck-fly-5 {
  0% {
    left: -55px;
    top: 50vh;
  }
  50% {
    left: 50%;
    top: 31vh;
  }
  100% {
    left: 105%;
    top: 72vh;
  }
}

@keyframes duck-fly-5 {
  0% {
    left: -55px;
    top: 50vh;
  }
  50% {
    left: 50%;
    top: 31vh;
  }
  100% {
    left: 105%;
    top: 72vh;
  }
}

@-webkit-keyframes duck-fly-6 {
  0% {
    left: -55px;
    top: 34vh;
  }
  50% {
    left: 50%;
    top: 56vh;
  }
  100% {
    left: 105%;
    top: 23vh;
  }
}

@keyframes duck-fly-6 {
  0% {
    left: -55px;
    top: 34vh;
  }
  50% {
    left: 50%;
    top: 56vh;
  }
  100% {
    left: 105%;
    top: 23vh;
  }
}

@-webkit-keyframes duck-fly-7 {
  0% {
    left: -55px;
    top: 36vh;
  }
  50% {
    left: 50%;
    top: 38vh;
  }
  100% {
    left: 105%;
    top: 69vh;
  }
}

@keyframes duck-fly-7 {
  0% {
    left: -55px;
    top: 36vh;
  }
  50% {
    left: 50%;
    top: 38vh;
  }
  100% {
    left: 105%;
    top: 69vh;
  }
}

@-webkit-keyframes duck-fly-8 {
  0% {
    left: -55px;
    top: 30vh;
  }
  50% {
    left: 50%;
    top: 50vh;
  }
  100% {
    left: 105%;
    top: 65vh;
  }
}

@keyframes duck-fly-8 {
  0% {
    left: -55px;
    top: 30vh;
  }
  50% {
    left: 50%;
    top: 50vh;
  }
  100% {
    left: 105%;
    top: 65vh;
  }
}

@-webkit-keyframes duck-fly-9 {
  0% {
    left: -55px;
    top: 32vh;
  }
  50% {
    left: 50%;
    top: 46vh;
  }
  100% {
    left: 105%;
    top: 66vh;
  }
}

@keyframes duck-fly-9 {
  0% {
    left: -55px;
    top: 32vh;
  }
  50% {
    left: 50%;
    top: 46vh;
  }
  100% {
    left: 105%;
    top: 66vh;
  }
}

@-webkit-keyframes duck-fly-10 {
  0% {
    left: -55px;
    top: 22vh;
  }
  50% {
    left: 50%;
    top: 74vh;
  }
  100% {
    left: 105%;
    top: 51vh;
  }
}

@keyframes duck-fly-10 {
  0% {
    left: -55px;
    top: 22vh;
  }
  50% {
    left: 50%;
    top: 74vh;
  }
  100% {
    left: 105%;
    top: 51vh;
  }
}

@-webkit-keyframes duck-fly-11 {
  0% {
    left: -55px;
    top: 39vh;
  }
  50% {
    left: 50%;
    top: 53vh;
  }
  100% {
    left: 105%;
    top: 19vh;
  }
}

@keyframes duck-fly-11 {
  0% {
    left: -55px;
    top: 39vh;
  }
  50% {
    left: 50%;
    top: 53vh;
  }
  100% {
    left: 105%;
    top: 19vh;
  }
}

@-webkit-keyframes duck-fly-12 {
  0% {
    left: -55px;
    top: 30vh;
  }
  50% {
    left: 50%;
    top: 40vh;
  }
  100% {
    left: 105%;
    top: 58vh;
  }
}

@keyframes duck-fly-12 {
  0% {
    left: -55px;
    top: 30vh;
  }
  50% {
    left: 50%;
    top: 40vh;
  }
  100% {
    left: 105%;
    top: 58vh;
  }
}

@-webkit-keyframes duck-fly-13 {
  0% {
    left: -55px;
    top: 17vh;
  }
  50% {
    left: 50%;
    top: 69vh;
  }
  100% {
    left: 105%;
    top: 53vh;
  }
}

@keyframes duck-fly-13 {
  0% {
    left: -55px;
    top: 17vh;
  }
  50% {
    left: 50%;
    top: 69vh;
  }
  100% {
    left: 105%;
    top: 53vh;
  }
}

@-webkit-keyframes duck-fly-14 {
  0% {
    left: -55px;
    top: 22vh;
  }
  50% {
    left: 50%;
    top: 62vh;
  }
  100% {
    left: 105%;
    top: 69vh;
  }
}

@keyframes duck-fly-14 {
  0% {
    left: -55px;
    top: 22vh;
  }
  50% {
    left: 50%;
    top: 62vh;
  }
  100% {
    left: 105%;
    top: 69vh;
  }
}

@-webkit-keyframes duck-fly-15 {
  0% {
    left: -55px;
    top: 29vh;
  }
  50% {
    left: 50%;
    top: 43vh;
  }
  100% {
    left: 105%;
    top: 26vh;
  }
}

@keyframes duck-fly-15 {
  0% {
    left: -55px;
    top: 29vh;
  }
  50% {
    left: 50%;
    top: 43vh;
  }
  100% {
    left: 105%;
    top: 26vh;
  }
}

body {
  background-image: url(img/maxresdefault.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  counter-reset: count;
  position: relative;
}

input[type='checkbox'] {
  position: absolute;
  visibility: hidden;
  left: -999999px;
}

input[type='checkbox']:checked {
  counter-increment: count;
}

input[type='checkbox']:checked + img {
  visibility: hidden;
  display: none;
}

h1::after {
  content: " " counter(count);
}

img {
  width: 50px;
}

h1 {
  position: absolute;
  bottom: -5px;
  left: 32px;
}

.duck-1 {
  position: absolute;
  -webkit-animation: duck-fly-1 1s linear 1s 1 both;
          animation: duck-fly-1 1s linear 1s 1 both;
}

.duck-2 {
  position: absolute;
  -webkit-animation: duck-fly-2 2s linear 2s 1 both;
          animation: duck-fly-2 2s linear 2s 1 both;
}

.duck-3 {
  position: absolute;
  -webkit-animation: duck-fly-3 3s linear 3s 1 both;
          animation: duck-fly-3 3s linear 3s 1 both;
}

.duck-4 {
  position: absolute;
  -webkit-animation: duck-fly-4 4s linear 4s 1 both;
          animation: duck-fly-4 4s linear 4s 1 both;
}

.duck-5 {
  position: absolute;
  -webkit-animation: duck-fly-5 5s linear 5s 1 both;
          animation: duck-fly-5 5s linear 5s 1 both;
}

.duck-6 {
  position: absolute;
  -webkit-animation: duck-fly-6 6s linear 6s 1 both;
          animation: duck-fly-6 6s linear 6s 1 both;
}

.duck-7 {
  position: absolute;
  -webkit-animation: duck-fly-7 7s linear 7s 1 both;
          animation: duck-fly-7 7s linear 7s 1 both;
}

.duck-8 {
  position: absolute;
  -webkit-animation: duck-fly-8 8s linear 8s 1 both;
          animation: duck-fly-8 8s linear 8s 1 both;
}

.duck-9 {
  position: absolute;
  -webkit-animation: duck-fly-9 9s linear 9s 1 both;
          animation: duck-fly-9 9s linear 9s 1 both;
}

.duck-10 {
  position: absolute;
  -webkit-animation: duck-fly-10 10s linear 10s 1 both;
          animation: duck-fly-10 10s linear 10s 1 both;
}

.duck-11 {
  position: absolute;
  -webkit-animation: duck-fly-11 11s linear 11s 1 both;
          animation: duck-fly-11 11s linear 11s 1 both;
}

.duck-12 {
  position: absolute;
  -webkit-animation: duck-fly-12 12s linear 12s 1 both;
          animation: duck-fly-12 12s linear 12s 1 both;
}

.duck-13 {
  position: absolute;
  -webkit-animation: duck-fly-13 13s linear 13s 1 both;
          animation: duck-fly-13 13s linear 13s 1 both;
}

.duck-14 {
  position: absolute;
  -webkit-animation: duck-fly-14 14s linear 14s 1 both;
          animation: duck-fly-14 14s linear 14s 1 both;
}

.duck-15 {
  position: absolute;
  -webkit-animation: duck-fly-15 15s linear 15s 1 both;
          animation: duck-fly-15 15s linear 15s 1 both;
}
/*# sourceMappingURL=style.css.map */