@for $i from 1 through 15 {
  @keyframes duck-fly-#{$i} {
    0% { left: -55px; top: random(75) + vh;}
    50% { left: 50%; top: random(75) + vh;}
    100% { left: 105%; top: random(75) + vh;}
    }
}
body {
    background-image: url(img/maxresdefault.jpg);
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    counter-reset: count;
    position: relative;
}
input[type='checkbox'] {
  position: absolute;
  visibility: hidden;
  left: -999999px;
}
input[type='checkbox']:checked {
  counter-increment: count;
}
input[type='checkbox']:checked + img {
  visibility: hidden;
  display: none;
}
h1::after {
  content: ' ' counter(count);
}
img {
  width: 50px;
}
h1 {
  position: absolute;
  bottom: -5px;
  left: 32px;
}
@for $i from 1 through 15 {
  .duck-#{$i} {
  position: absolute;
  animation: duck-fly-#{$i} #{$i}s linear #{$i}s 1 both;
  }
}